@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --background-color: #111111;
  --list-group: #212529;
  --border: #495057;
  --family: "Roboto", sans-serif;
  --dark-orange: rgba(160, 90, 4, 0.962);
  --new-orange: #ff4433;
  --text-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

body {
  background-color: var(--background-color);
  font-family: var(--family);
  color: #fff;
  overflow-x: hidden;
}

.header-content {
  display: flex;
  align-items: center;
}

/* header */
.header {
  max-width: 75rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* nav */
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: lighter;
  /* border: 1px solid #ccc; */
}

.network,
.date-month,
.login {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.network {
  padding: 0.25rem 7rem;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  padding: 0.45rem 4rem;
  background-color: #212121;
  color: #7b7b7b;
  font-size: 1rem;
  border-radius: 10px;
}
.nav-link li {
  transition: all 0.3s ease-in-out;
}

.nav-link li:hover {
  color: #fefefe;
}

.nav-link li:first-child {
  color: #fefefe;
}
.date-month {
  padding: 0.45rem 2rem;
}
/* login */
.login {
  display: flex;
  padding: 0.45rem 1.5rem;
  justify-content: center;
  align-items: center;
}
/* arrow icons */
.arrow {
  border: 1px solid #f7f7f7;
  padding: 1rem;
  border-radius: 50%;
}

/* line */
.line {
  width: 50px;
  height: 1px;
  background-color: #545454;
  margin: 1.5rem 0;
}

/* total-size*/
.total-num span,
.market-num span {
  display: block;
  line-height: 1.5;
  font-size: 1.5rem;
}
.total-num p,
.market-num p {
  color: #545454;
  font-size: 0.85rem;
}

/* .container {
  overflow: hidden;
  .header {
    color: #fff;
  padding: 20px 150px;
  margin-top: 2rem;
}
.network {
  border: 1px solid var(--border);
  width: 350px;
  height: 50px;
  padding: 10px 130px;
  font-size: 25px;
  border-radius: 10px;
  letter-spacing: 1px;
}
.network:hover {
  font-family: var(--family);
  cursor: pointer;
  font-weight: 900;
}
.list {
  margin-top: -3em;
  margin-left: 22.2em;
  width: 500px;
  border-radius: 10px;
  background-color: var(--list-group);
  letter-spacing: 1px;
}
.list ul {
  display: flex;
  padding: 1em 3em;
  gap: 2em;
}
.list li {
  list-style: none;
}
.list:hover li:nth-child(1){
  font-family: var(--family);
  cursor: pointer;
  font-weight: 900;
}
.date-month {
  margin-top: -2.8em;
  margin-left: 47.9em;
  border: 1px solid var(--border);
  font-size: 18px;
  padding: 1rem 7rem;
  letter-spacing: 5px;
  border-radius: 10px;
  width: 500px;
}
.date-month:hover span:nth-child(1){
  font-family: var(--family);
  cursor: pointer;
  font-weight: 900;
}
.log-in {
  margin-top: -2.5em;
  margin-left: 68.4em;
  font-size: 20px;
  border: 1px solid var(--border);
  border-radius: 10px;
  padding: 1rem 2rem;
  width: 130px;
}
.log-in:hover{
  font-family: var(--family);
  cursor: pointer;
  font-weight: 900;
}

} */

/* circle
.general-circle {
  overflow: hidden;
}
.circle-1 {
  margin-left: -5em;
  width: 650px;
  height: 650px;
  border-radius: 50%;
  border: 1px solid var(--border);
}
.circle-2 {
  width: 650px;
  height: 650px;
  border-radius: 50%;
  background: linear-gradient(to left, #03071e, #6a040f);
  margin-top: -40em;
  margin-left: 35.8em;
}
.circle-3 {
  margin-left: 77em;
  margin-top: -41em;
  width: 650px;
  height: 650px;
  border-radius: 50%;
  border: 1px solid var(--border);
}
.text-AI {
  color: #fff;
  font-family: var(--family);
  letter-spacing: 1px;
  font-size: 20px;
  width: 450px;
  text-align: center;
  margin-top: -25em;
  margin-left: 33em;
  animation: slide-in 1s ease-in-out;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateY(-50%);
  }
}
*/

/* section 1  
.back-arrow {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid var(--border);
  margin: 2em 1em;
  padding-top: 3.7em;
  padding-left: 3.5em;
}
.back-arrow i {
  font-size: 26px;
}
*/

/* first-sub-sec
#first-sub-sec {
  line-height: 1.8em;
  margin-top: -15rem;
  margin-left: 15rem;
  letter-spacing: 1px;
}
#first-sub-sec span {
  font-family: var(--family);
  font-size: 2rem;
}
#first-sub-sec p {
  font-family: var(--family);
  color: var(--border);
  font-size: 18px;
}
*/

/*line through 
.first-line-through {
  position: relative;
  top: 2em;
  left: 15em;
  width: 80px;
  border: 1px solid var(--border);
}
*/

/* second-sub-sec 
#second-sub-sec {
  line-height: 1.8em;
  position: absolute;
  top: 28em;
  left: 15em;
  letter-spacing: 1px;
}
#second-sub-sec span {
  font-family: var(--family);
  font-size: 2rem;
}
#second-sub-sec p {
  font-family: var(--family);
  color: var(--border);
  font-size: 18px;
}

.text-center {
  font-family: var(--family);
  letter-spacing: 1px;
  text-align: center;
  margin: -1.5rem 25rem;
  animation: slide-text 3s ease-in-out;
}
@keyframes slide-text {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.paragraph-center P{
  font-size: 85px;
}
.paragraph-center span {
  color: var(--new-orange);
}
.paragraph-center span:first-child {
  font-size: 80px;
}
*/

/* section 2 
.forward-arrow {
  overflow: hidden;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid var(--border);
  margin: -15em 97em;
  padding-left: 4em;
  padding-top: 3.5em;
}
.forward-arrow i {
  font-size: 26px;
}
*/

/* sub section three
#sub-section-three {
  position: relative;
  top: 5em;
  left: 88em;
}
#sub-section-three span {
  font-family: var(--family);
  font-size: 2rem;
}
#sub-section-three p {
  font-family: var(--family);
  color: var(--border);
  font-size: 18px;
}
*/
/* second line through 
.second-line-through {
  position: relative;
  top: 7em;
  left: 88em;
  width: 80px;
  border: 1px solid var(--border);
  
}
*/

/* sub section four 
#sub-section-four {
  line-height: 1.8em;
  position: absolute;
  top: 28em;
  left: 88em;
  letter-spacing: 1px;
}
#sub-section-four span {
  font-family: var(--family);
  font-size: 2rem;
}

#sub-section-four p {
  font-family: var(--family);
  color: var(--border);
  font-size: 18px;
}

.down-circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid var(--border);
  position: relative;
  top: 18em;
  left: 55em;
}
*/
/* section 3 */

/* first rectangle 
.first-rectangle {
  width: 200px;
  height: 100px;
  border: 2px solid var(--border);
  border-radius: 10px;
  position: relative;
  top: 27.5em;
  left: 13em;
}

.rectangle-circle-1 {
  width: 190px;
  height: 95px;
  padding: 1em 1.5em;
}
.first-circle {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 50%;
  color: #000;
  font-size: 25px;
  position: relative;
  top: 0.5em;
  padding-top: 0.4em;
  padding-left: 0.8em;
}
.first-circle:hover,
.second-circle:hover,
.third-circle:hover {
  background-color: var(--new-orange);
  cursor: pointer;
}

.second-circle {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 50%;
  color: #000;
  font-size: 25px;
  position: relative;
  top: -1.5em;
  left: 2em;
  padding-top: 0.4em;
  padding-left: 0.7em;
}

.third-circle {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 50%;
  position: relative;
  top: -3.6em;
  left: 4em;
  color: #000;
  font-size: 25px;
  padding-top: 0.4em;
  padding-left: 0.8em;
}
*/

/* second rectangle
.second-rectangle-2 {
  width: 750px;
  height: 100px;
  border-radius: 10px;
  background-color: var(--new-orange);
  position: relative;
  top: 21.2em;
  left: 26em;
}
.rectangle-circle-2 {
  width: 300px;
  height: 100px;
  padding: 1.5em 2em;
}
*/
/* sec-circle-1
.sec-circle-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--background-color);
  color: var(--background-color);
  font-size: 25px;
  padding: 9px 20px;
}
*/

/* sec-circle-2 
.sec-circle-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--background-color);
  position: relative;
  top: -2em;
  left: 2em;
  color: var(--background-color);
  font-size: 25px;
  padding: 9px 20px;
}
*/
/* sec-circle-3 
.sec-circle-3 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid var(--background-color);
  position: relative;
  top: -4.05em;
  left: 4em;
  color: var(--background-color);
  font-size: 25px;
  padding: 9px 20px;
}

.sec-circle-2:hover {
  background-color: var(--background-color);
  color: var(--text-color);
  cursor: pointer;
}
*/

/* sec-rec-text 
.sec-rec-text {
  width: 400px;
  height: 50px;
  font-size: 20px;
  color: #000;
  margin-top: -4em;
  margin-left: 10.5em;
  font-family: var(--family);
  letter-spacing: 1px;
}
*/
/* line-height: 1px; */

/* third rectangle
.third-rectangle {
  width: 200px;
  height: 100px;
  border: 2px solid var(--border);
  color: #03071e;
  border-radius: 10px;
  position: relative;
  top: 15em;
  left: 73.5em;
}
.rectangle-circle-3 {
  width: 190px;
  height: 95px;
  padding-top: 1.5em;
  padding-left: 1.5em;
}
.third-circle-1 {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 50%;
}
.third-circle-1 p {
  font-size: 25px;
  padding: 0.5em 0.9em;
}
.third-circle-2 {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 50%;
  margin-top: -3.12em;
  margin-left: 3.1em;
}
.third-circle-2 p {
  font-size: 25px;
  padding: 0.5em 0.7em;
}
.third-circle-3 {
  width: 50px;
  height: 50px;
  border: 1px solid var(--border);
  border-radius: 50%;
  margin-top: -3.12em;
  margin-left: 6.2em;
}
.third-circle-3 p {
  font-size: 25px;
  padding: 0.5em 0.7em;
}
.third-circle-1:hover,
.third-circle-2:hover,
.third-circle-3:hover {
  background-color: var(--new-orange);
  cursor: pointer;
}
*/
/* section of pictures 
.container-pics {
  width: 300px;
  height: 100px;
  position: relative;
  top: 8em;
  left: 88em;
}

.picture-one {
  width: 60px;
  height: 60px;
  background-color: #000;
  border-radius: 50%;
  background-image: url(./img/young-man.jpg);
  background-size: cover;
  position: relative;
  top: 1.5em;
}
.picture-two {
  width: 60px;
  height: 60px;
  background-color: #000;
  border-radius: 50%;
  background-image: url(./img/beauty.jpg);
  background-size: cover;
  position: relative;
  top: -2.19em;
  left: 3.2em;
}
.picture-three {
  width: 60px;
  height: 60px;
  background-color: #000;
  border-radius: 50%;
  background-image: url(./img/man-on-vac.jpg);
  background-size: cover;
  position: relative;
  top: -5.9em;
  left: 6.5em;
}
/* end of section of pictures */

/* container 2 
.container-2 {
  margin-top: 15em;
  margin-left: 13em;
}
.about {
  display: flex;
  gap: 2em;
}
.about span {
  font-family: var(--family);
  font-size: 20px;
}
.about p {
  font-family: var(--family);
  font-size: 20px;
  width: 350px;
  height: 30px;
  background-color: var(--text-color);
  padding: 0 5em;
  color: var(--list-group);
  border-radius: 5px;
  padding-top: 0.11em;
}
.about-page p:first-child {
  padding-top: 1em;
  font-family: var(--family);
  font-size: 50px;
  width: 1300px;
}
.about-page span {
  background-color: var(--new-orange);
  color: #03071e;
  border-radius: 10px;
}

.about-page p:last-child {
  line-height: 2em;
  font-family: var(--family);
  font-size: 50px;
  width: 1300px;
}

*/
