@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
:root {
  --background-color: #111111;
  --list-group: #212529;
  --border: #495057;
  --family: "Roboto", sans-serif;
  --dark-orange: rgba(160, 90, 4, 0.962);
  --new-orange: #ff4433;
  --text-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}

img {
  display: block;
  object-fit: cover;
  max-width: 100%;
}

body {
  background-color: var(--background-color);
  font-family: var(--family);
  color: #fff;
  overflow-x: hidden;
}

.header-content {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container {
  max-width: 75rem;
  margin: auto;
  margin-top: 10rem;
}

.mt {
  margin-top: 2rem;
}

/* header */
.header {
  max-width: 75rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* nav */
.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  font-weight: lighter;
  cursor: pointer;
  /* border: 1px solid #ccc; */
}

.network,
.date-month,
.login {
  border: 1px solid #ccc;
  border-radius: 10px;
}
.network {
  padding: 0.25rem 7rem;
  font-size: 0.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link {
  padding: 0.45rem 4rem;
  background-color: #212121;
  color: #7b7b7b;
  font-size: 1rem;
  border-radius: 10px;
}
.nav-link li {
  transition: all 0.3s ease-in-out;
}

.nav-link li:hover {
  color: #fefefe;
}

.nav-link li:first-child {
  color: #fefefe;
}
.date-month {
  padding: 0.45rem 2rem;
}
/* login */
.logout {
  display: flex;
  padding: 0.45rem 1.5rem;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
/* arrow icons */
.arrow {
  border: 1px solid #f7f7f7;
  padding: 1rem;
  border-radius: 50%;
}

/* line */
.line {
  width: 50px;
  height: 1px;
  background-color: #545454;
  margin: 1.5rem 0;
}

/* total-size*/
.total-num span,
.market-num span {
  display: block;
  line-height: 1.5;
  font-size: 1.5rem;
}
.total-num p,
.market-num p {
  color: #545454;
  font-size: 0.85rem;
}
