/* circle */

.general-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  position: relative;
}
.circle {
  width: 500rem;
  height: 31.5rem;
  border-radius: 50%;
  background: linear-gradient(165deg, #0f0f0f, #4f2117, #302320, #101010);
}
.circle:first-child,
.circle:nth-child(3) {
  border: 1px solid #f7f7f7;
  background: none;
}
.circle:first-child {
  margin-left: -5rem;
}

.circle:nth-child(3) {
  margin-right: -5rem;
}

/* circle text */
.header-text {
  position: absolute;
  top: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header-text p {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: lighter;
  font-size: 0.85rem;
}

.hero-header {
  font-size: 4.2rem;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 100;
}

.hero-header span {
  color: #ea512d;
}

.bolt {
  font-size: 2.4rem;
}

.arrow_back {
  position: absolute;
  top: 40%;
  left: 1rem;
}
.arrow_forward {
  position: absolute;
  top: 40%;
  right: 1rem;
}

.total-size {
  position: absolute;
  top: 30%;
  left: 7rem;
}
.award-trans {
  position: absolute;
  top: 30%;
  right: 7rem;
}

/*  */
.rectangle-section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}
.small-circles {
  display: flex;
  align-items: center;
  border: 1px solid #2b2b2b;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  /* position: relative; */
}

.small-circle {
  width: 50px;
  height: 50px;
  border: 1px solid #2b2b2b;
  border-radius: 50%;
  text-align: center;
}
.small-circle p {
  margin-top: 1rem;
  color: #101010;
}
.small-circle:hover {
  background-color: #fd532f;
}

.circle-content {
  background-color: #fd532f;
  padding: 1rem 4rem;
  color: #101010;
  border: none;
}
.second-circle {
  display: flex;
  align-items: center;
  position: relative;
  left: -3rem;
}

.second-circle .small-circle:hover {
  background-color: #161616;
}
.second-circle .small-circle p:hover {
  color: #d5d4d4;
}

.description {
  margin-left: 2rem;
}

.northeast-arrow {
  position: relative;
  left: 3rem;
}

/* images */
.images {
  display: flex;
  align-items: center;
  justify-content: center;
}
.images img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

.images img:nth-child(2) {
  position: relative;
  left: -0.35rem;
}
.images img:nth-child(3) {
  position: relative;
  left: -0.6rem;
}

.images .northeast-arrow {
  left: 1rem;
}

/*about section  */
.about-header {
  background-color: #dbeded;
  color: #313535;
  padding: 0.25rem 5rem;
  border-radius: 5px;
}

.about-header h3 {
  font-weight: 400;
}

.about-text {
  font-size: 2.8rem;
  line-height: 1.5;
}

.add {
  background-color: #fd532f;
  color: #0f0f0f;
  padding: 0.6rem 0.6rem;
  border-radius: 10px;
}
.about-network {
  background-color: #fd532f;
  color: #0f0f0f;
  padding: 0.6rem 1rem;
  border-radius: 5px;
  font-size: 1.5rem;
}

.close_fullscreen {
  position: relative;
  top: 0.5rem;
}

/* boxes */
.boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2rem;
}

.box {
  background-color: #dbeded;
  width: 20rem;
  height: 20rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  position: relative;
}

/* first circle-box */

.first-circle-box::before {
  content: "";
  border: 1px solid #101010;
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  position: absolute;
  top: -5rem;
  left: 2rem;
  z-index: 1;
}

.first-circle-box span {
  font-size: 10rem;
  color: #101010;
  position: absolute;
  top: -3rem;
  left: 5rem;
  animation: spin 10s linear infinite;
}

/* middle circle-box */
.middle-circle-box::before {
  content: "";
  border: 1px solid #c5d6d6;
  width: 8.5rem;
  height: 8.5rem;
  position: absolute;
  border-radius: 50%;
  top: calc(40% - 5rem);
  left: calc(50% - 5rem);
  animation: spinAndColorChange 10s linear infinite;
}

.middle-circle-box span {
  font-size: 3rem;
  color: #fd532f;
  position: absolute;
  top: calc(38.5% - 2rem);
  left: calc(65.5% - 5rem);
  animation: spin 10s linear infinite;
}

.middle-circle-box::after {
  content: "Scam detected";
  position: absolute;
  color: #fd532f;
  border: 1px solid #c5d6d6;
  padding: 1.2rem 1.6rem;
  border-radius: 30px;
  top: calc(75% - 2rem);
  left: calc(50% - 5rem);
}

.box.box2 {
  width: 20rem;
  height: 5rem;
  background-color: #fd532f;
  margin-bottom: 2rem;
}

.box-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 1rem;
}
.box-text {
  color: #0f0f0f;
}

.box-text span {
  font-size: 0.8rem;
  background-color: #0f0f0f;
  color: #f7f7f7;
  border-radius: 50%;
  padding: 0.5rem;
}

.boxes-text {
  color: #545454;
  width: 80%;
  margin-top: 0.5rem;
  line-height: 1.3;
}

.boxes-header {
  font-size: 1.5rem;
}

/* investors and network  */
.investors-header {
  margin-top: 1rem;
  font-size: 2.8rem;
}
.investors-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

.network-logo {
  width: 12rem;
  height: 12rem;
  border: 1px solid #474747;
  border-radius: 50%;
  position: relative;
  transition: all 0.5s ease-in-out;
}

.logo-icon {
  font-size: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3.5rem 0 0 0;
}

.network-logo:hover {
  transform: scale(1.1);
  background-color: #fd532f;
  border: none;
}
.logo-icon:hover {
  color: #161616;
}

.north-east-icon {
  border: 1px solid #474747;
  border-radius: 50%;
  font-size: 0.8rem;
  padding: 0.8rem;
  position: absolute;
  right: 0;
  display: none;
  background-color: #161616;
  transition: all 0.5s ease-in-out;
}

.network-logo:hover .north-east-icon {
  display: block;
}
