@media only screen and (max-width: 500px) {
  /* header */
  .header {
    /* position: fixed;
    top: 0; */
    left: 0.5rem;
    padding: 1rem;
  }
  .network {
    font-size: 0.5rem;
    padding: 0.25rem 1.2rem;
  }

  /* nav */
  nav {
    position: relative;
    width: 100%;
  }
  .list {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 7.2%;
    background-color: #21212198;
    width: 60%;
    height: calc(52vh - 3.75rem);
    transition: all 0.5s ease-in-out;
    /* z-index: -1; */
  }

  .nav-link {
    background: none;
    flex-direction: column;
  }

  .list .show {
    left: 50%;
  }

  .date-month {
    font-size: 0.75rem;
    padding: 0.45rem 2rem;
    border: none;
    margin-top: 1rem;
    align-items: center;
  }

  .menubar {
    display: block;
  }

  /* hero section */
  .general-circle {
    padding: 0 2%;
  }

  .circle {
    height: 25rem;
  }

  .circle:first-child,
  .circle:nth-child(3) {
    display: none;
  }

  .header-text {
    top: 23.5%;
  }

  .header-text p {
    font-size: 0.65rem;
  }

  .hero-header {
    font-size: 2.4rem;
  }

  .arrow span {
    font-size: 1rem;
  }

  .line {
    margin: 0.85rem 0;
  }

  .arrow_back,
  .arrow_forward {
    top: 28rem;
  }

  .total-size {
    top: 100%;
    left: 4.95rem;
  }

  .award-trans {
    top: 100%;
    right: 2.95rem;
  }

  .total-size span,
  .award-trans span {
    margin-top: 1rem;
    font-size: 1rem;
  }

  /* call to action */

  .rectangle-section {
    padding: 0 50%;
    /* margin-left: 15rem; */
    width: 4rem;
    gap: 5rem;
    flex-direction: column;
  }

  .small-circle {
    display: none;
  }

  .small-circle p {
    margin-top: 0.2rem;
  }

  .small-circles {
    display: none;
  }

  .circle-content {
    display: block;
    padding: 1rem 1rem;
  }

  .second-circle {
    left: 0;
  }
  .description {
    font-size: 0.85rem;
    width: 100%;
    white-space: nowrap;
    margin-left: 0;
  }

  .northeast-arrow {
    left: 0;
    font-size: 0.5rem;
  }
  /* about section */
  .container {
    padding: 0 5%;
  }
  .about-header {
    padding: 0.25rem 3rem;
  }
  .about-text {
    font-size: 1.5rem;
  }

  .add {
    padding: 0.2rem 0.2rem;
  }
  .about-network {
    padding: 0.2rem 0.6rem;
  }

  /* boxes */
  .boxes {
    flex-direction: column;
  }

  .box:nth-child(1) {
    margin-top: 5rem;
  }

  /* investors and network  */
  .investors-header {
    margin-top: 1rem;
    font-size: 1.5rem;
  }

  .investors-container {
    flex-wrap: wrap;
  }
}
